{% extends 'base.html.twig' %}

{% block title %}
    color
{% endblock %}

{% block body %}
    <h1 style="color: {{ color }}">{{ color }}</h1>

    {% if color == 'red' %}
        <p>"Attention risque de virus"</p>
    {% endif %}
{% endblock %}
