{% extends 'base.html.twig' %}

{% block title %}Modifier Mon mot de passe{% endblock %}

{% block content %}
    <h1> Modifier mon mot de passe </h1>
    
    <a  href="{{ path('account') }}" > Retourner à mon compte</A>
    <hr>
    {% if notification is defined %}
        <div class="alert alert-info" > {{notification}} </div>
    {% endif %}

    {{ form(form) }}
    <hr>
{% endblock %}
