{% extends 'base.html.twig' %}

{% block title %}
    Twig !
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <ul>
        {% for item in tab %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    {# coucou #}
    <ul>
        {% for item in object.object1 %}
            {{ loop.index }}
            {{ item|raw }}
        {% endfor %}
    </ul>

    {% if title == 'title' %}
        <p>Salut !</p>
    {% else %}
        <p>Enrevoir !</p>
    {% endif %}

{% endblock %}
