{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenu dans votre admin' %}

{% block page_content %}
     <h1>Bienvenu dans votre admin</h1>
{% endblock %}
