:root {
    --tns-nav-height: 88px;
    --simple-blue: #2D3F63;
    --main-black: black;
}

@media (min-width: 768px) {
    .absolute-controls-slider-container .tns-ovh {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .absolute-controls-slider-container .tns-outer .tns-controls {
        width: calc(100% + 110px);
        left: -55px;
    }
}

.tns-ovh {
    width: 100%;
}

.tns-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    height: calc(100% - var(--tns-nav-height));
}

@media (max-width: 767.98px) {
    .tns-controls {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.tns-controls button {
    position: relative;
    border: none;
    background: var(--simple-blue);
    font-size: 1.75rem;
    width: 30px;
    height: 30px;
    padding: 0;
    color: white;
    border-radius: 50px;
    transition-duration: 350ms;
    z-index: 99;
}

.tns-controls button:hover {
    color: var(--main-black);
    background: white;
}

.tns-controls button::after {
    position: absolute;
    top: -5px;
    font-family: var(--icon-font);
}

.tns-controls button[data-controls='next']::after {
    content: '\f054';
    right: 7px;
}

.tns-controls button[data-controls='prev']::after {
    content: '\f053';
    right: 10px;
}

.tns-nav {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;
    padding: 2.5rem 0 1.5rem 0;
}

.tns-nav button {
    border: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--simple-blue);
    margin: 0 0.4rem;
    opacity: 1;
    transition-duration: 0.35s;
}

.tns-nav button:hover {
    opacity: 0.5;
}

.tns-nav button:focus {
    outline: none;
}

.tns-nav button.tns-nav-active {
    background: var(--main-black);
    opacity: 1;
}

.tns-outer {
    width: 100%;
    position: relative;
}

.tns-outer .tns-carousel img {
    width: 100%;
}

.customize-tools {
    position: relative;
}

.customize-tools .thumbnails {
    text-align: center;
}

.customize-tools .thumbnails li {
    width: 185px;
    display: inline-block;
    cursor: pointer;
    list-style: none;
    text-align: center;
    border: 5px solid transparent;
}

@media (max-width: 991.98px) {
    .customize-tools .thumbnails li {
        width: 100px;
    }
}

.customize-tools .thumbnails img {
    vertical-align: bottom;
    object-fit: cover;
    height: 100px;
}

.customize-tools .thumbnails .tns-nav-active {
    background: none;
    border: 5px solid #000000;
}

.customize-tools .controls {
    text-align: center;
    margin: 0;
    padding: 0;
}

.customize-tools .controls .prev {
    left: calc(100% - 50rem);
}

.customize-tools .controls .next {
    right: calc(100% - 50rem);
}

@media (max-width: 991.98px) {
    .customize-tools .controls .prev {
        left: 0;
    }
    .customize-tools .controls .next {
        right: 0;
    }
}

@media (max-width: 575.98px) {
    .customize-tools .controls .prev,
    .customize-tools .controls .next {
        display: none;
    }
}

.customize-tools .controls li {
    z-index: 99;
    display: block;
    position: absolute;
    height: 50px;
    font-size: 3rem;
    color: var(--simple-blue);
    margin-top: -70px;
    cursor: pointer;
    transition: background 0.3s;
    list-style: none;
}

.customize-tools .controls li .fas {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.customize-tools .controls li .fas:not(.tns-lazy-img),
.customize-tools .controls li .lazyload i {
    height: auto;
}

.tns-item {
    padding-right: 0 !important;
}