{% extends 'base.html.twig' %}

{% block title %}Hello Contact!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
