.gdpr-module {
    display: none;
}

.gdpr-module>div {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999999;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gdpr-module .gdpr-module-dialog {
    background: white;
    padding: 40px;
    width: 95%;
    max-width: 700px;
}

@media (max-width: 575.98px) {
    .gdpr-module .gdpr-module-dialog {
        height: 95%;
        overflow-y: scroll;
    }
}

@media (max-width: 575.98px) {
    .gdpr-module .gdpr-module-actions button {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.gdpr-module .gdpr-module-content h2 {
    color: #697990;
    margin-bottom: 1.5rem;
}

.gdpr-module .gdpr-module-content p {
    font-size: 0.95rem;
}

.gdpr-module .gdpr-module-content .trackers-choices {
    display: none;
}

.gdpr-module .gdpr-module-content .trackers-choices>div {
    padding-top: 1rem;
    border-top: 1px solid #CCCCCC;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575.98px) {
    .gdpr-module .gdpr-module-content .trackers-choices>div {
        flex-wrap: wrap;
    }
}

@media (max-width: 575.98px) {
    .gdpr-module .gdpr-module-content .trackers-choices .choices {
        margin-bottom: 1rem;
    }
}

@media (max-width: 575.98px) {
    .gdpr-module .gdpr-module-content .trackers-choices .validate {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .gdpr-module .gdpr-module-content .trackers-choices .validate button {
        width: 100%;
    }
}

.gdpr-module .gdpr-module-content .trackers-choices .item .tracker-name {
    position: relative;
    top: 3px;
    margin-left: 10px;
}

.gdpr-module button {
    border: solid 1px #697990;
    border-radius: 2px;
    margin-right: 20px;
    padding: 15px 25px;
}

.gdpr-module .accept-btn {
    background: #697990;
    color: white;
}

.gdpr-module .config-button {
    border-color: black;
}
